// What images are available?
dpr-available = 1 2

// This will usually be '-' or '@' depending on how you name your files
dpr-delimiter = '-'

// Should dpr 1 be replaced?
dpr-one = true

// This function is used for replacing the the new image
dpr-replacer(lft rt n)
  return lft + '.' + rt if n is 1 and !dpr-one
  lft + dpr-delimiter + n + 'x.' + rt // all other dprs

// Do work
dpr(lft rt siz=null, bkg=null)
  &
    background bkg if bkg isnt null
    background-size siz if siz isnt null
  for n in dpr-available
    .dpr-{n} &
      background-image url(dpr-replacer(lft, rt, n))
